body{
	font-size: 14px;
	line-height: 1.6;
	overflow-x: hidden;
	color: #222;

}


.header{
	height: 80px;
	line-height: 80px;
	&__menu{
		&--s{
			display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
		    padding: 0;
		    margin: 0;
		    list-style: none;
		    a{
		    	color: #222222;
				font-family: "Varela Round";
				font-size: 14px;
				font-weight: 400;
		    	margin: 0 10px 0 0;

		    }
		    .divider {
   					 margin-right: 20px;
					}
		}
	}

	&__buttons{
		&__basket-pic{
			margin-right: 15px;
		}
		&__price{
			color: #222222;
			font-family: Oswald;
			font-size: 12px;
			font-weight: 700;
			margin-right: 38px;
		}
	}
	&__srch{
			&__input{
				border-radius: 30px;
				background-color: #f6f6f6;
				border: none;
				width: 220px;
				color: #868686;
				font-family: "PT Serif";
				font-size: 12px;
				font-style: italic;
				padding: 10px 0 10px 20px;

			}
			&__button{
				       position: absolute;
					    top: 38px;
					    right: 210px;
					    background: url(../images/search.png) no-repeat 2px;
					    font-size: 0;
					    width: 22px;
					    height: 24px;
					    border-width: 0;

			}
			input,
                textarea
                button {
                    outline:none;
                }
			input:focus{
				    box-shadow: 1px 1px 8px 1px #868686;
			}
			button:active {
                    background: transparent;
                }
	}
}


.column_one{
	 display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.column_two{
	 display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

/*.main{
	max-width: 960px;
	margin: 20px auto;

}*/


img{
	max-width: 100%;
	height: auto;
}


.sl{
			&__slide{
			position: relative;
		}
		&__text{
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		top: 10px;

		span{
				padding-left: 20px;
				color: #ffffff;
				font-family: Oswald;
				font-size: 12px;
				font-weight: 700;
				padding: 7px 19px 8px 20px;
				border-radius: 30px 0 0 30px;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				background: #1f4ba5;
			}

		}
		&__zag{
		color: #3172f7;
		font-family: "Oswald";
		font-size: 43px;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5);
}
		&__desc{
			color: #fff;
			font-family: "Varela Round";
			font-size: 48px;
			font-weight: 400;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		}
		a{
			background: #1f4ba5;
			border-radius: 0 30px 30px 0;
			padding: 10px 23px 8px 22px;
			color: #ffffff;
			font-family: "Varela Round";
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;


		}

}





