* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
p{
	margin: 0;
}


body{
	font-size: 14px;
	line-height: 1.6;
	overflow-x: hidden;
	color: #222;

}


.header{
	height: 80px;
	line-height: 80px;
	&__menu{
		&--s{
			display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
		    padding: 0;
		    margin: 0;
		    list-style: none;
		    a{
		    	color: #222222;
				font-family: "Varela Round";
				font-size: 14px;
				font-weight: 400;
		    	margin: 0 10px 0 0;

		    }
		    .divider {
   					 margin-right: 20px;
					}
		}
	}

	&__buttons{
		&__basket-pic{
			margin-right: 15px;
		}
		&__price{
			color: #222222;
			font-family: Oswald;
			font-size: 12px;
			font-weight: 700;
			margin-right: 38px;
		}
	}
	&__srch{
			&__input{
				border-radius: 30px;
				border: none;
				width: 220px;
				color: #868686;
				font-family: "PT Serif";
				font-size: 12px;
				font-style: italic;
				padding: 10px 0 10px 20px;

			}
			&__button{
				       position: absolute;
					    top: 30px;
					    right: 210px;
					    background: url(../images/search.png) no-repeat 2px;
					    font-size: 0;
					    width: 22px;
					    height: 24px;
					    border-width: 0;

			}
			input,
                textarea
                button {
                    outline:none;
                }
			input:focus{
				    box-shadow: 1px 1px 8px 1px #868686;
			}
			button:active {
                    background: transparent;
                }
	}
}


.column_one{
	 display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.column_two{
	 display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }




img{
	max-width: 100%;
	height: auto;
}


.sl{
			&__slide{
			position: relative;
		}
		&__text{
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		top: 10px;

		span{
				padding-left: 20px;
				color: #ffffff;
				font-family: Oswald;
				font-size: 12px;
				font-weight: 700;
				padding: 7px 19px 8px 20px;
				border-radius: 30px 0 0 30px;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				background: #1f4ba5;
			}

		}
		&__zag{
		color: #3172f7;
		font-family: "Oswald";
		font-size: 43px;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5);
		-webkit-text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5);

}
		&__desc{
			color: #fff;
			font-family: "Varela Round";
			font-size: 48px;
			font-weight: 400;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		}
		a{
			background: #1f4ba5;
			border-radius: 0 30px 30px 0;
			padding: 10px 23px 8px 22px;
			color: #ffffff;
			font-family: "Varela Round";
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;


		}

}



.banner{

	&::after{
		content: '';
		clear: both;
		display: block;
	}

	&__item{
			&-snic{
		background: url(../images/snick.png);
		width: 240px;
        height: 240px;
        text-align: center;
        h4{
        	padding-top: 144px;
        }
						        p{
						        	color: #222222;
									font-family: "Varela Round";
									font-size: 16px;
									font-weight: 400;
									line-height: 24px;
						        }
	}

	&-boot{
		background: url(../images/boot.png) no-repeat center;
		background-color: #f0f0f0;
		width: 240px;
		height: 240px;
	    text-align: center;
	     h4{
        	padding-top: 40px;
        }
						       p{
					        	color: #222222;
								font-family: "Varela Round";
								font-size: 16px;
								font-weight: 400;
								line-height: 24px;
								padding-top: 128px;
								
					        }
	}
	&-whis{
		background: url(../images/jeans.png);
		width: 480px;
		height: 240px;

		h4{
        	padding-top: 40px;
        	margin: 0;
        }
							        p{
							        	color: #222222;
										font-family: "Varela Round";
										font-size: 24px;
										font-weight: 400;
										line-height: 30px;
										padding-top: 20px;
										
							        }
	}
	&__text-q{
		padding-left: 239px;
	}

		h4{
				color: #1f4ba5;
				font-family: Oswald;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0;
				
	}
	}

}

.most-l{

	       text-align: center;
	       border-bottom: 1px solid #ececec;
						&::after{
							content: '';
							clear: both;
							display: block;
						}
						

									&__header{
										padding: 20px;
										text-align: center;
										position: relative;

														&-h{
															h2{
																color: #1f4ba5;
																font-family: Oswald;
																font-size: 18px;
																font-weight: 700;
																line-height: 30px;
																text-transform: uppercase;
															}
																						p{
																							color: #868686;
																							font-family: "Varela Round";
																							font-size: 14px;
																							font-weight: 400;
																							line-height: 18px;
																						}
																						&__list-product{
																							position: absolute;
																							    bottom: -138px;
																							    left: 100px;
    																					span{
    																						color: #868686;
																							font-family: "Varela Round";
																							font-size: 14px;
																							font-weight: 400;
																							line-height: 18px;
																							letter-spacing: 2px;
    																					}

																						}
														}

									}

									&__first{
										padding: 20px 20px;
										
														&-product{
																	p{
																		color: #222222;
																		font-family: "Varela Round";
																		font-size: 12px;
																		font-weight: 400;
																		line-height: 16px;
																		margin-bottom: 63px;
																	}
																								&__title{
																										margin-top: 75px;

																								.sale{
																									float: left;
																									margin-right: 35px;
																								}
																								.price{
																									margin-right: 43px;
																									color: #ff3f2b;
																									font-family: Oswald;
																									font-size: 12px;
																									font-weight: 700;
																								}
																								.no-price{
																									color: #a1a1a1;
																									font-family: Oswald;
																									font-size: 8px;
																									font-weight: 700;
																									text-decoration: line-through;
																								}
																					}
														}

									}
									&__second{
												padding: 20px 0;
															&-product{
																					p{
																						color: #222222;
																						font-family: "Varela Round";
																						font-size: 12px;
																						font-weight: 400;
																						line-height: 16px;
																					}
																					&__price{
																								color: #222222;
																								font-family: Oswald;
																								font-size: 12px;
																								font-weight: 700;
																								
																					}
																					.upper{
																						margin-bottom: 45px;
																					}
																}
									}


									&__third{
										padding: 20px 20px;
										
														&-product{
																p{
																	color: #222222;
																	font-family: "Varela Round";
																	font-size: 12px;
																	font-weight: 400;
																	line-height: 16px;
																	margin-bottom: 65px;
																}
																&__title{
																	margin-top: 63px;
																	.nsale{
																		float: left;
																	}
																}
														}
									}



	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.first,
	.second,
	.third{
		    border-left: 1px solid #ececec;
	}

}

.about-t{

					&::after{
											content: '';
											clear: both;
											display: block;
										}
										img{
	display: block;
}
						&__header{
							padding: 40px 30px;
							display: flex;
							display: -webkit-flex;
							justify-content: space-around;
							-webkit-justify-content: space-around;
							align-items: center;
							-webkit-align-items: baseline;
															h2{
																color: #1f4ba5;
																font-family: Oswald;
																font-size: 18px;
																font-weight: 700;
																line-height: 30px;
																text-transform: uppercase;
															}
															span{
																color: #868686;
																font-family: "Varela Round";
																font-size: 14px;
																font-weight: 400;
																line-height: 18px;																		
															}

						}
						&__inf{
							display: inline-flex;
							flex-direction: column;
								.grid_2{
									background: #1f4ba5;
									width: 120px!important;
									display: inline-flex;
									align-items: center;
									flex-direction: row;
									height: 60px;
									padding: 21px;
									margin: 0;

														.number{
															color: #ffffff;
															font-family: Oswald;
															font-size: 18px;
															font-weight: 700;
															line-height: 30px;
															text-transform: uppercase;
														}
														.brind{
															color: #ffffff;
															font-family: "PT Serif";
															font-size: 12px;
															font-style: italic;
															line-height: 18px;
														}
														img{
															margin-right: 16px;
														}
								}

							
								img{
									max-width: none;
								}
								&::after{
												content: '';
												clear: both;
												display: block;
											}
											

							
									&__h,&__b{
										&:after{
												content: '';
												clear: both;
												display: block;
											}	

									}	
									&__b{
										.zx{
											position: absolute;
										}
									}
									&__desc{
										text-align: center;
										    padding: 20px 30px;
										    h4{
										    	font-family: 'PT Serif', serif;
										    	font-size: 24px;
										    	color: #868686;
										    	font-weight: 400;
										    }
										    p{
										    	color: #868686;
												font-family: "Varela Round";
												font-size: 14px;
												font-weight: 400;
										    }
									}	
										
										&__r__block{
											
											text-align: center;
											 padding: 40px 30px;
											 &--a{
											 	 h4{
													 	color: #1f4ba5;
														font-family: Oswald;
														font-size: 18px;
														font-weight: bold;
														text-transform: uppercase;
											 }
											  p,span{
											 	color: #868686;
												font-family: "Varela Round";
												font-size: 14px;
												font-weight: 400;
											 }
											 }
											 &--b{
											 	 span{
											 	color: #fff;
												font-family: "Varela Round";
												font-size: 14px;
												font-weight: 400;
											 }
											 h4{
											 	color: #fff;
												font-family: "Varela Round";
												font-size: 18px;
												font-weight: 400;
											 }
											 p{
													 	color: #fff;
														font-family: Oswald;
														font-size: 18px;
														font-weight: 400;
														span{
															font-family: 'PT Serif', serif;
															text-transform: lowercase;
														}
											 }

											 }
											 &--c{
											 		 span{
											 	font-family: 'PT Serif', serif;
										    	font-size: 12px;
										    	color: #868686;
										    	font-weight: 400;
											 }
											 h4{
											 	color: #222;
												font-family: "Varela Round";
												font-size: 18px;
												font-weight: 700;
											 }
											 p{
													 	color: #868686;
														font-family: Oswald;
														font-size: 14px;
														font-weight: 400;
														text-transform: uppercase;
														span{
															font-family: 'PT Serif', serif;
															text-transform: lowercase;
														}
											 }
											 }
											 &--d{
											 	text-align: left;
											 	h2{
											 		color: #222;
												font-family: "Varela Round";
												font-size: 14px;
												font-weight: 700;
											 	}
												span{
													font-family: 'PT Serif', serif;
										    	font-size: 12px;
										    	color: #868686;
										    	font-weight: 400;
												}	
											 }

											
											
											
											
											 
											 &--bg{
											 	background: url(../images/tufl.png);
											 }

										}
																
							}
							&__bordr__r{
								border-right: 1px solid #ececec;
							}

}
	

.banners{
	background: #f4f5f7;
	  img{
	  	display: block;
	  }
	    	&::after{
		content: '';
		clear: both;
		display: block;
	}
	&__wrapp{
		padding: 0 40px;
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	}
	    					&__years{
	    						span{
	    							font-size: 14px;
		    						font-family: Oswald;
		    						color: #222;
		    						font-weight: bold;
	    						}
		    						
	    					}
	    					&__zag{
	    						h2{
	    							font-size: 30px;
		    						font-family: "Varela Round";
		    						color: #222;
		    						font-weight: normal;
	    						}
		    						
	    					}
	    					&__links{
	    						
	    						a{
		    						font-size: 12px;
		    						color: #1f4ba5;
		    						font-family: "Varela Round";
		    						font-weight: normal;
	    							border: 2px solid #1f4ba5;
	    							border-radius: 30px;
	    							padding: 6px 30px;
	    							text-decoration: none;
	    							&:first-child{
	    								margin-right: 6px;
	    							}
	    						}

	    					}
}

.inst{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;

						&__desc{
							text-align: center;
							padding: 35px 0;
											h4{
												    color: #1f4ba5;
												    font-family: Oswald;
												    font-size: 18px;
												    font-weight: 700;
												    text-transform: uppercase;
											}
											p{
												    color: #868686;
												    font-family: "Varela Round";
												    font-size: 14px;
												    font-weight: 400;
											}
						}
						&__pics{
							img{
								display: block;
							}
							&-a--fx{
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							flex-direction: column;
							float: left;

						}
						}
						

						&__inf{
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							flex-direction: column;
							text-align: center;
													&__desc{
														background: #1f4ba5;
														text-align: center;
														padding: 23px 0;
														
														span{
															color: #fff;
															text-transform: uppercase;
															font-family: Oswald;
														    font-size: 14px;
														    font-weight: bold;

														}

													}
													&__posts,&__flw{
														 padding: 5px 0 3px 0;
														border-bottom: 1px solid #ececec;
													}
													.num{
														color: #222;
														font-size: 14px;
														font-family: Oswald;
														font-weight: bold;
														letter-spacing: 1px;
														
													}
													.zag{
														font-family: "PT Serif";
														font-size: 12px;
														color: #868686;
													}
													&__arrows{
							                                   position: relative;
																							&--prev{
																									    width: 60px;
																									    height: 60px;
																									    position: absolute;
																									    top: 50%;
																									    left: 0px;
																									    background: url(../images/next-ml.png) no-repeat center;
																									    z-index: 1;
																									    cursor: pointer;
																									   /* border: 1px solid #ececec;*/
																							}
																							&--next{
																									    width: 60px;
																									    height: 60px;
																									    position: absolute;
																									    top: 25%;
																									    left: 59px;
																									    background: url(../images/prev-ml.png) no-repeat center;
																									    cursor: pointer;
																									    border-left: 1px solid #ececec;
																							}
						                                       }
						}

					

}
.feature{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	border: 1px solid #ececec;
	&__rain,&__clock,&__comps,&__star{
		padding: 30px 30px;
		border-right: 1px solid #ececec;
		
		
	}
	p{
		color: #222;
	    font-family: "Varela Round";
	    font-size: 12px;
	    font-weight: 400;
	}
	img{
		margin-bottom: 10px;
	}
&__rain{
	img{
		margin-bottom: 15px;
	}
}


}
.footer{
			background: #222;
			padding: 25px 30px;
			color: #fff;
		  	&::after{
			content: '';
			clear: both;
			display: block;
		}
							&__info{
								
								h4{
								   font-family: "Varela Round";
									font-size: 12px;
									text-transform: uppercase;
								}
								ul{
									padding: 0;
									list-style: none;
									li{
										font-family: "Varela Round";
									    font-size: 12px;
									    line-height: 30px;
									}
								}
							}
							&__right{
								text-align: center;
								&__srch{
									position: relative;
								}
								&__zag{
									    display: -webkit-flex;
									    display: -moz-flex;
									    display: -ms-flex;
									    display: -o-flex;
									    display: flex;
									    flex-direction: row;
									    justify-content: space-around;
								}
								&__srch__input{
									border-radius: 30px;
								    border: 0;
								    width: 360px;
								    color: #868686;
								    font-family: "PT Serif";
								    font-size: 12px;
								    font-style: italic;
								    padding: 10px 0 10px 42px;
								     background: url(../images/send-r.png) #393939 no-repeat 10px;
								}
								&__srch__button{
									    position: absolute;
									    top: 6px;
									    right: 210px;
									    background: url(../images/arrow-r.png) no-repeat 2px;
									    font-size: 0;
									    width: 22px;
									    height: 24px;
									    border-width: 0;
									    right: 77px;
								}
							}

}